[submodule "external/CMSIS_5"]
	path = external/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "external/nrfx"]
	path = external/nrfx
	url = https://github.com/NordicSemiconductor/nrfx.git
